h1,p{
    font-family: 'Libre Baskerville', serif;
    color: black;
    text-transform: uppercase;
}

body{
    background-color: black;
    height: 100%;
    width: 99%;
}

img{
    border: 5px solid black;
    margin-top: 20px;
    border-radius: 50%;
}

div{
    text-align: center;
    
}

img.madma{
    height: 600px;
}
